body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weatherCard{
    height: 400px;
    width: 400px;
    border: black 4px solid;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

.searchArea{
    border: 2px black solid;
    border-radius: 12px;
    height: 40px;
    width: 70px;
    padding: 4px;
}